<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AtoZTests</title>
</head>

<body>
    <header>
        <a href="#" class="logo">MedHacks</a>
        <nav>
            <ul>
                <li><a href="index.html" class="cool-link">Home</a></li>
                <li><a href="atozdisease.html" class="cool-link">AtoZ Disease</a></li>
                <li><a href="atozmedicine.html" class="cool-link">AtoZ Medicines</a></li>
                <li><a href="symptom.html" class="cool-link">Symptom Checker</a></li>
            </ul>
        </nav>
    </header>
    <div class=container-4>
        <h1>A to Z Tests and Procedures Finder</h1>
        <p>Comprehensive guide on hundreds of tests and procedures</p>
        <p>Find a test or procedure by its first letter</p>
        <div class="container-5">
            <div class="btn" onclick=Afun()>
                <a href="#">A</a>
            </div>
            <div class="btn" onclick=Bfun()>
                <a href="#">B</a>
            </div>
            <div class="btn" onclick=Cfun()>
                <a href="#">C</a>
            </div>
            <div class="btn" onclick=Dfun()>
                <a href="#">D</a>
            </div>
            <div class="btn" onclick=Efun()>
                <a href="#">E</a>
            </div>
            <div class="btn" onclick=Ffun()>
                <a href="#">F</a>
            </div>
            <div class="btn" onclick=Gfun()>
                <a href="#">G</a>
            </div>
            <div class="btn" onclick=Hfun()>
                <a href="#">H</a>
            </div>
            <div class="btn" onclick=Ifun()>
                <a href="#">I</a>
            </div>
            <div class="btn" onclick=Jfun()>
                <a href="#">J</a>
            </div>
            <div class="btn" onclick=Kfun()>
                <a href="#">K</a>
            </div>
            <div class="btn" onclick=Lfun()>
                <a href="#">L</a>
            </div>
            <div class="btn" onclick=Mfun()>
                <a href="#">M</a>
            </div>
            <div class="btn" onclick=Nfun()>
                <a href="#">N</a>
            </div>
            <div class="btn" onclick=Ofun()>
                <a href="#">O</a>
            </div>
            <div class="btn" onclick=Pfun()>
                <a href="#">P</a>
            </div>
            <div class="btn" onclick=Qfun()>
                <a href="#">Q</a>
            </div>
            <div class="btn" onclick=Rfun()>
                <a href="#">R</a>
            </div>
            <div class="btn" onclick=Sfun()>
                <a href="#">S</a>
            </div>
            <div class="btn" onclick=Tfun()>
                <a href="#">T</a>
            </div>
            <div class="btn" onclick=Ufun()>
                <a href="#">U</a>
            </div>
            <div class="btn" onclick=Vfun()>
                <a href="#">V</a>
            </div>
            <div class="btn" onclick=Wfun()>
                <a href="#">W</a>
            </div>
            <div class="btn" onclick=Xfun()>
                <a href="#">X</a>
            </div>
            <div class="btn" onclick=Yfun()>
                <a href="#">Y</a>
            </div>
            <div class="btn" onclick=Zfun()>
                <a href="#">Z</a>
            </div>

        </div>
        <div id="A">
            <a href="a3.html">A1C Test</a><br>
            <a href="#">Abdominal delivery</a><br>
            <a href="#">Abdominal hysterectomy</a><br>
            <a href="#">Abdominal ultrasound</a><br>
            <a href="#">Abdominoplasty</a><br>
            <a href="#">Ablataion therapy</a><br>
            <a href="#">Acanthosis nigricans</a><br>
            <a href="#">ACL reconstruction</a><br>
            <a href="#">Active surveillance for prostate cancer</a><br>
            <a href="#">Acupuncture</a><br>
            <a href="#">Adrenalectomy</a><br>
            <a href="#">Allergen immunotherapy</a><br>
            <a href="#">Allergy shots</a><br>
            <a href="#">Allergy skin tests</a><br>
            <a href="#">Allogeneic stem cell transplant</a><br>
            <a href="#">Amniocentesis</a><br>
            <a href="#">ANA</a><br>
            <a href="#">Anesthesia</a><br>
            <a href="#">Anger management</a><br>
            <a href="#">Ankle surgery</a><br>
            <a href="#">Annuloplasty</a><br>
            <a href="#">Anterior cruciate ligament surgery</a><br>
            <a href="#">Aortic root surgery</a><br>
            <a href="#">Aortic valve repair and aortic valve replacement</a><br>
            <a href="#">Arm lift</a><br>
            <a href="#">Arthroplasty</a><br>
            <a href="#">Arthroscopy</a><br>
            <a href="#">Assistive technology for spinal cord injury</a><br>
            <a href="#">Atrial fibrillation ablation</a><br>
            <a href="#">Autologous bone marrow transplan</a><br>
            <a href="#">AV node ablation</a><br>
            <a href="#">Awake craniotomy</a><br>
            


        </div>
        <div id="B">
            <a href="#">B</a>
            <a href="#">Baby acne</a><br>
            <a href="#">Back pain</a><br>
            <a href="#">Bacterial vaginosis</a><br>
            <a href="#">Bad breath</a><br>
            <a href="#">Bags under eyes</a><br>
            <a href="#">Baker's cyst</a><br>
            <a href="#">Balance problems</a><br>
            <a href="#">Baldness</a><br>
            <a href="#">Barber's itch</a><br>
            <a href="#">Barlow's syndrome </a><br>
            <a href="#">Barotitis media</a><br>
            <a href="#">Barotrauma</a><br>
            <a href="#">Barrett's esophagus</a><br>
            <a href="#">Bartholin's cyst</a><br>
            <a href="#">Basal cell carcinoma</a><br>
            <a href="#">Basal joint arthritis</a><br>
            <a href="#">BDD</a><br>
            <a href="#">Bedbugs</a><br>
            <a href="#">Bedsores (pressure ulcers)</a><br>
            <a href="#">Bed-wetting</a><br>
            <a href="#">Bee sting</a><br>
            <a href="#">Behcet's disease</a><br>
            <a href="#">Bell's palsy</a><br>
            <a href="#">Benign adrenal tumors</a><br>
            <a href="#">Benign migratory glossitis </a><br>
            <a href="#">Benign paroxysmal positional vertigo</a><br>
            <a href="#">Benign paroxysmal positional vertigo (BPPV)</a><br>
            <a href="#">Benign peripheral nerve tumor</a><br>
            <a href="#">Benign prostatic hyperplasia (BPH)</a><br>
            <a href="#">Berger's disease</a><br>
            <a href="#">Bicuspid aortic valve</a><br>
            <a href="#">Bile duct cancer</a><br>
            <a href="#">Bile reflux</a><br>
            <a href="#">Binge drinking</a><br>
            <a href="#">Binge-eating disorder</a><br>
            <a href="#">Bipolar disorder</a><br>
            <a href="#">Bird flu (avian influenza)</a><br>
            <a href="#">Black hairy tongue</a><br>
            <a href="#">Blackheads</a><br>
            <a href="#">Bladder calculi </a><br>
            <a href="#">Bladder cancer</a><br>
            <a href="#">Bladder control, loss of </a><br>
            <a href="#">Bladder exstrophy</a><br>
            <a href="#">Bladder infection</a><br>
            <a href="#">Bladder inflammation </a><br>
            <a href="#">Bladder prolapse</a><br>
            <a href="#">Bladder stones</a><br>
            <a href="#">Blastocystis hominis</a><br>
            <a href="#">Blepharitis</a><br>
            <a href="#">Blocked tear duct</a><br>
            <a href="#">Blood in urine (hematuria)</a><br>
            <a href="#">Blood pressure, high</a><br>
            <a href="#">Blood pressure, low </a><br>
            <a href="#">BMS</a><br>
            <a href="#">Body dysmorphic disorder</a><br>
            <a href="#">Body lice</a><br>
            <a href="#">Body odor and sweating</a><br>
            <a href="#">Boils and carbuncles</a><br>
            <a href="#">Bone cancer</a><br>
            <a href="#">Bone infection </a><br>
            <a href="#">Bone metastasis</a><br>
            <a href="#">Bone spurs</a><br>
            <a href="#">Borderline personality disorder</a><br>
            <a href="#">Botulism</a><br>
            <a href="#">Bowel incontinence</a><br>
            <a href="#">Bowel obstruction</a><br>
            <a href="#">BPH</a><br>
            <a href="#">Brachial plexus injury</a><br>
            <a href="#">Bradycardia</a><br>
            <a href="#">Bradycardia-tachycardia syndrome </a><br>
            <a href="#">Brain aneurysm</a><br>
            <a href="#">Brain arteriovenous malformation</a><br>
            <a href="#">Brain attack</a><br>
            <a href="#">Brain AVM (arteriovenous malformation)</a><br>
            <a href="#">Brain metastases</a><br>
            <a href="#">Brain tumor, child </a><br>
            <a href="#">Breast cancer, inflammatory</a><br>
            <a href="#">Breast cancer, male</a><br>
            <a href="#">Breast cysts</a><br>
            <a href="#">Breast infection</a><br>
            <a href="#">Breast pain</a><br>
            <a href="#">Broken ankle</a><br>
            <a href="#">Broken arm</a><br>
            <a href="#">Broken blood vessel in eye</a><br>
            <a href="#">Broken collarbone</a><br>
            <a href="#">Broken foot</a><br>
            <a href="#">Broken hand</a><br>
            <a href="#">Broken heart syndrome</a><br>
            <a href="#">Broken hip </a><br>
            <a href="#">Broken leg</a><br>
            <a href="#">Broken nose</a><br>
            <a href="#">Broken ribs</a><br>
            <a href="#">Broken toe</a><br>
            <a href="#">Broken wrist</a><br>
            <a href="#">Bronchiolitis</a><br>
            <a href="#">Bronchitis</a><br>
            <a href="#">Brucellosis</a><br>
            <a href="#">Brugada syndrome</a><br>
            <a href="#">Bruxism (teeth grinding)</a><br>
            <a href="#">Buerger's disease</a><br>
            <a href="#">Bulimia nervosa</a><br>
            <a href="#">Bullous pemphigoid</a><br>
            <a href="#">Bundle branch block</a><br>
            <a href="#">Bunions</a><br>
            <a href="#">Bunyaviruses</a><br>
            <a href="#">Burn injury </a><br>
            <a href="#">Burning mouth syndrome</a><br>
            <a href="#">Burning thigh pain</a><br>
            <a href="#">Burns</a><br>
            <a href="#">Bursitis</a><br>
            <a href="#">Bursitis of the knee</a><br>

        </div>
        <div id="C">
            <a href="#">C. difficile colitis </a><br>
            <a href="#">C. difficile infection</a><br>
            <a href="#">Calciphylaxis</a><br>
            <a href="#">Calluses and corns </a><br>
            <a href="#">Cancer</a><br>
            <a href="#">Cancer, acute lymphocytic leukemia </a><br>
            <a href="#">Cancer, acute myelogenous leukemia</a><br>
            <a href="#">Cancer, anal</a><br>
            <a href="#">Cancer, basal cell</a><br>
            <a href="#">Cancer, bladder </a><br>
            <a href="#">Cancer, bone</a><br>
            <a href="#">Cancer, breast</a><br>
            <a href="#">Cancer, carcinoid tumors</a><br>
            <a href="#">Cancer, cervical </a><br>
            <a href="#">Cancer, chronic lymphocytic leukemia</a><br>
            <a href="#">Cancer, chronic myelogenous leukemia</a><br>
            <a href="#">Cancer, colon</a><br>
            <a href="#">Cancer, endometrial</a><br>
            <a href="#">Cancer, esophageal</a><br>
            <a href="#">Cancer, eye melanoma</a><br>
            <a href="#">Cancer, gallbladder</a><br>
            <a href="#">Cancer, gastric</a><br>
            <a href="#">Cancer, hairy cell leukemia</a><br>
            <a href="#">Cancer, Hodgkin's disease</a><br>
            <a href="#">Cancer, Hurthle cell</a><br>
            <a href="#">Cancer, inflammatory breast </a><br>
            <a href="#">Cancer, kidney</a><br>
            <a href="#">Cancer, leukemia</a><br>
            <a href="#">Cancer, lip</a><br>
            <a href="#">Cancer, liver</a><br>
            <a href="#">Cancer, lung</a><br>
            <a href="#">Cancer, male breast</a><br>
            <a href="#">Cancer, Merkel cell</a><br>
            <a href="#">Cancer, mesothelioma </a><br>
            <a href="#">Cancer, mouth</a><br>
            <a href="#">Cancer, multiple myeloma</a><br>
            <a href="#">Cancer, nasopharyngeal</a><br>
            <a href="#">Cancer, neuroblastoma</a><br>
            <a href="#">Cancer, non-Hodgkin's lymphoma</a><br>
            <a href="#">Cancer, oral </a><br>
            <a href="#">Cancer, ovarian </a><br>
            <a href="#">Cancer, pancreatic</a><br>
            <a href="#">Cancer, paraneoplastic syndromes</a><br>
            <a href="#">Cancer, prostate</a><br>
            <a href="#">Cancer, rectal</a><br>
            <a href="#">Cancer, retinoblastoma</a><br>
            <a href="#">Cancer, skin </a><br>
            <a href="#">Cancer, soft tissue sarcoma</a><br>
            <a href="#">Cancer, squamous cell</a><br>
            <a href="#">Cancer, stomach</a><br>
            <a href="#">Cancer, testicular </a><br>
            <a href="#">Chronic adrenal insufficiency </a><br>
            <a href="#">Chronic cough</a><br>
            <a href="#">Chronic daily headaches</a><br>
            <a href="#">Corona virus</a><br>
            <a href="#">Coronary artery disease</a><br>
            <a href="#">Coronary microvascular disease</a><br>
            <a href="#">Coronavirus disease 2019 (COVID-19)</a><br>
            <a href="#">Cyst, Bartholin's </a><br>
            <a href="#">Cyst, ganglion </a><br>
            <a href="#">Cyst, kidney </a><br>
            <a href="#">Cyst, ovarian</a><br>
            <a href="#">Cyst, pancreatic </a><br>
            <a href="#">Cysts, epidermoid </a><br>
            <a href="#">Cysts, sebaceous</a><br>
            <a href="#">Cytomegalovirus infection</a><br>

        </div>
        <div id="D">
            <a href="#">Dandruff</a><br>
            <a href="#">Daytime sleepiness</a><br>
            <a href="#">DCIS </a><br>
            <a href="#">DDH</a><br>
            <a href="#">De Quervain's tenosynovitis</a><br>
            <a href="#">Decreased tear production</a><br>
            <a href="#">Deep vein thrombosis (DVT)</a><br>
            <a href="#">Deer-fly fever</a><br>
            <a href="#">Deficient color vision</a><br>
            <a href="#">Degenerative arthritis</a><br>
            <a href="#">Dehydration</a><br>
            <a href="#">Delayed ejaculation</a><br>
            <a href="#">Delayed gastric emptying</a><br>
            <a href="#">Delayed sleep phase</a><br>
            <a href="#">Delirium</a><br>
            <a href="#">Dementia</a><br>
            <a href="#">Dementia, Alzheimer's disease</a><br>
            <a href="#">Dementia, frontotemporal</a><br>
            <a href="#">Dementia, Lewy body</a><br>
            <a href="#">Dementia, vascular </a><br>
            <a href="#">Dengue fever</a><br>
            <a href="#">Dengue hemorrhagic fever </a><br>
            <a href="#">Dependence, nicotine</a><br>
            <a href="#">Dependent personality disorder </a><br>
            <a href="#">Depersonalization disorder </a><br>
            <a href="#">Depersonalization-derealization disorder</a><br>
            <a href="#">Depression (major depressive disorder)</a><br>
            <a href="#">Depression, in teenagers</a><br>
            <a href="#">Depression, postpartum </a><br>
            <a href="#">Dermatitis</a><br>
            <a href="#">Dermatitis, atopic</a><br>
            <a href="#">Dermatitis, cercarial</a><br>
            <a href="#">Dermatitis, contact </a><br>
            <a href="#">Dermatitis, scratch</a><br>
            <a href="#">Dermatitis, seborrheic</a><br>
            <a href="#">Dermatofibrosarcoma protuberans</a><br>
            <a href="#">Dermatographia</a><br>
            <a href="#">Dermatomyositis</a><br>
            <a href="#">Dermatophytosis</a><br>
            <a href="#">Diabetes, type 1</a><br>
            <a href="#">Diabetes, type 1 in children </a><br>
            <a href="#">Diabetic hyperosmolar syndrome</a><br>
            <a href="#">Diabetic hypoglycemia</a><br>
            <a href="#">Diphtheria</a><br>
            <a href="#">Dislocation</a><br>
            <a href="#">Dissociative disorders</a><br>
            <a href="#">Diverticulitis</a><br>
            <a href="#">Dizziness</a><br>
            <a href="#">Double uterus</a><br>
            <a href="#">Double-outlet right ventricle</a><br>
            <a href="#">Down syndrome</a><br>
            <a href="#">Dressler's syndrome</a><br>
            <a href="#">Drop foot</a><br>
            <a href="#">Drug addiction (substance use disorder)</a><br>
            <a href="#">Drug allergy</a><br>
            <a href="#">Dry eyes</a><br>
            <a href="#">Dumping syndrome</a><br>
            <a href="#">Dupuytren's contracture</a><br>
            <a href="#">Dural arteriovenous fistulas</a><br>
            <a href="#">Dust mite allergy</a><br>
            <a href="#">DVT</a><br>
            <a href="#">Dwarfism</a><br>
            <a href="#">Dysarthria</a><br>
            <a href="#">Dyshidrosis</a><br>
            <a href="#">Dyslexia</a><br>
            <a href="#">Dysmenorrhea </a><br>
            <a href="#">Dyspareunia</a><br>
            <a href="#">Dysphonia</a><br>
            <a href="#">Dysrhythmias</a><br>
            <a href="#">Dysthymia</a><br>
            <a href="#">Dystonia</a><br>
            <a href="#">Dystonia, cervical</a><br>


        </div>
        <div id="E">
            <a href="#">E. coli</a><br>
            <a href="#">Ear infection (middle ear)</a><br>
            <a href="#">Ear infection, outer ear </a><br>
            <a href="#">Eardrum, ruptured</a><br>
            <a href="#">Early puberty</a><br>
            <a href="#">Earwax blockage</a><br>
            <a href="#">Eating disorders</a><br>
            <a href="#">Eating disorders, anorexia </a><br>
            <a href="#">Eating disorders, binge eating </a><br>
            <a href="#">Eating disorders, bulimia </a><br>
            <a href="#">Ebola virus</a><br>
            <a href="#">Ebola virus and Marburg virus</a><br>
            <a href="#">Ebstein anomaly</a><br>
            <a href="#">Ectopic heartbeat</a><br>
            <a href="#">Ectopic pregnancy</a><br>
            <a href="#">Ectropion</a><br>
            <a href="#">Eczema</a><br>
            <a href="#">Eczema, dyshidrotic </a><br>
            <a href="#">ED</a><br>
            <a href="#">Egg allergy</a><br>
            <a href="#">Ehlers-Danlos syndrome</a><br>
            <a href="#">Ehrlichiosis</a><br>
            <a href="#">Eisenmenger syndrome</a><br>
            <a href="#">Elevated blood pressure</a><br>
            <a href="#">Embolism, pulmonary </a><br>
            <a href="#">Embryonal tumors</a><br>
            <a href="#">Endometriosis</a><br>
            <a href="#">Enlarged heart</a><br>
            <a href="#">Enlarged prostate</a><br>
            <a href="#">Esophageal varices</a><br>
            <a href="#">Esophagitis</a><br>
            <a href="#">Exercise-induced asthma</a><br>
            <a href="#">External compression headaches</a><br>
            <a href="#">External otitis </a><br>
            <a href="#">Extrasystole </a><br>
            <a href="#">Eye floaters</a><br>
            <a href="#">Eye focusing</a><br>
            <a href="#">Eyestrain</a><br>

        </div>
        <div id="F">
            <a href="#">Facial hair, excess in women</a><br>
            <a href="#">Facial palsy </a><br>
            <a href="#">Factitious disorder</a><br>
            <a href="#">Factor V Leiden</a><br>
            <a href="#">Fallen arches</a><br>
            <a href="#">Fallot, tetralogy of</a><br>
            <a href="#">Familial adenomatous polyposis</a><br>
            <a href="#">Familial hypercholesterolemia</a><br>
            <a href="#">FAP </a><br>
            <a href="#">Farsightedness</a><br>
            <a href="#">Febrile seizure</a><br>
            <a href="#">Fecal incontinence</a><br>
            <a href="#">Female infertility</a><br>
            <a href="#">Female sexual dysfunction</a><br>
            <a href="#">Femoroacetabular impingement</a><br>
            <a href="#">Fetal alcohol syndrome</a><br>
            <a href="#">Fetal macrosomia</a><br>
            <a href="#">Fever</a><br>
            <a href="#">Fibroids, uterine</a><br>
            <a href="#">Fibromuscular dysplasia</a><br>
            <a href="#">Fibromyalgia</a><br>
            <a href="#">Fibrosis, cystic </a><br>
            <a href="#">Fibrosis, interstitial pulmonary </a><br>
            <a href="#">Fibrosis, pulmonary</a><br>
            <a href="#">Flaviviruses</a><br>
            <a href="#">Floaters</a><br>
            <a href="#">Floppy valve syndrome</a><br>
            <a href="#">Flu, avian</a><br>
            <a href="#">Flu, bird </a><br>
            <a href="#">Fluid around the heart </a><br>
            <a href="#">Folate deficiency anemia </a><br>
            <a href="#">Food allergy</a><br>
            <a href="#">Food allergy, milk</a><br>
            <a href="#">Food-borne illness</a><br>
            <a href="#">Foot fracture</a><br>
            <a href="#">Foramen ovale</a><br>
            <a href="#">Fracture, arm </a><br>
            <a href="#">Fracture, hip </a><br>
            <a href="#">Frozen shoulder</a><br>
            <a href="#">Fuchs' dystrophy</a><br>
            <a href="#">Fungal infection, nail </a><br>
            <a href="#">Funnel chest</a><br>

        </div>
        <div id="G">
            <a href="#">GAD</a><br>
            <a href="#">Galactorrhea</a><br>
            <a href="#">Gallbladder cancer</a><br>
            <a href="#">Gallbladder inflammation</a><br>
            <a href="#">Gallstones</a><br>
            <a href="#">Gambling, compulsive </a><br>
            <a href="#">Ganglion cyst</a><br>
            <a href="#">Gangrene</a><br>
            <a href="#">Gastric cancer</a><br>
            <a href="#">Gastric emptying, delayed </a><br>
            <a href="#">Gastroenteritis, viral </a><br>
            <a href="#">Gastroesophageal reflux</a><br>
            <a href="#">Gastrointestinal bleeding</a><br>
            <a href="#">Germ cell tumors</a><br>
            <a href="#">German measles</a><br>
            <a href="#">Gestational diabetes</a><br>
            <a href="#">Giant cell arteritis</a><br>
            <a href="#">Giant lymph node hyperplasia </a><br>
            <a href="#">Giardia infection (giardiasis)</a><br>
            <a href="#">Glioblastoma</a><br>
            <a href="#">Glioma</a><br>
            <a href="#">Globoid cell leukodystrophy</a><br>
            <a href="#">Grand mal seizure</a><br>
            <a href="#">Gross hematuria </a><br>
            <a href="#">Group B strep disease</a><br>
            <a href="#">Growing pains</a><br>
            <a href="#">Growth hormone excess </a><br>
            <a href="#">Growth plate fractures</a><br>
            <a href="#">Guillain-Barre syndrome</a><br>
            <a href="#">Gum disease, gingivitis</a><br>
            <a href="#">Gum disease, periodontitis </a><br>

        </div>
        <div id="H">
            <a href="#">H. pylori infection</a><br>
            <a href="#">H1N1 flu </a><br>
            <a href="#">Hair loss</a><br>
            <a href="#">Hair-pulling disorder</a><br>
            <a href="#">Hairy cell leukemia</a><br>
            <a href="#">Hairy tongue</a><br>
            <a href="#">Halitosis</a><br>
            <a href="#">Hammertoe and mallet toe</a><br>
            <a href="#">Hamstring injury</a><br>
            <a href="#">Hand fracture</a><br>
            <a href="#">Hand pain </a><br>
            <a href="#">Hand-foot-and-mouth disease</a><br>
            <a href="#">Hangovers</a><br>
            <a href="#">Hantavirus pulmonary syndrome</a><br>
            <a href="#">Hardening of the arteries </a><br>
            <a href="#">Hashimoto's disease</a><br>
            <a href="#">Hay fever</a><br>
            <a href="#">Headache, exercise</a><br>
            <a href="#">Headache, external compression</a><br>
            <a href="#">Headache, tension </a><br>
            <a href="#">Hearing loss</a><br>
            <a href="#">Heart arrhythmia</a><br>
            <a href="#">Heart attack</a><br>
            <a href="#">Heart defects in adults</a><br>
            <a href="#">Heart disease</a><br>
            <a href="#">Heart failure</a><br>
            <a href="#">Heart murmurs</a><br>
            <a href="#">Heart palpitations</a><br>
            <a href="#">Heavy menstrual periods </a><br>
            <a href="#">Helicobacter pylori (H. pylori) infection</a><br>
            <a href="#">Hemangioma, liver </a><br>
            <a href="#">Hematoma, intracranial</a><br>
            <a href="#">Hematuria</a><br>
            <a href="#">Hemifacial spasm</a><br>
            <a href="#">Hemochromatosis</a><br>
            <a href="#">Hemolytic uremic syndrome (HUS)</a><br>
            <a href="#">Hemophilia</a><br>
            <a href="#">Hepatitis A</a><br>
            <a href="#">Hepatitis B</a><br>
            <a href="#">Hepatitis C</a><br>
            <a href="#">Hepatitis, autoimmune</a><br>
            <a href="#">Hereditary motor and sensory neuropathy</a><br>
            <a href="#">Hereditary progressive arthro-ophthalmopathy </a><br>
            <a href="#">Hernia, hiatal </a><br>
            <a href="#">Hernia, inguinal </a><br>
            <a href="#">Herpes, genital</a><br>
            <a href="#">Hidradenitis suppurativa</a><br>
            <a href="#">High blood pressure (hypertension)</a><br>
            <a href="#">High cholesterol</a><br>
            <a href="#">High-flow priapism </a><br>
            <a href="#">Hilar cholangiocarcinoma</a><br>
            <a href="#">Hip dysplasia</a><br>
            <a href="#">Hip fracture</a><br>
            <a href="#">Hip labral tear</a><br>
            <a href="#">Hirschsprung's disease</a><br>
            <a href="#">Huntington's disease</a><br>
            <a href="#">Hunt's syndrome </a><br>
            <a href="#">Hutchinson-Gilford progeria syndrome</a><br>
            <a href="#">Hydrocele</a><br>
            <a href="#">Hydrocephalus</a><br>

        </div>
        <div id="I">
            <a href="#">IBD </a><br>
            <a href="#">IBS </a><br>
            <a href="#">Ice cream headaches</a><br>
            <a href="#">Identity disorder, dissociative</a><br>
            <a href="#">Idiopathic hypersomnia</a><br>
            <a href="#">Idiopathic intracranial hypertension</a><br>
            <a href="#">Idiopathic myelofibrosis</a><br>
            <a href="#">Idiopathic thrombocytopenic purpura</a><br>
            <a href="#">Idiopathic toe walking </a><br>
            <a href="#">IgA nephropathy (Berger's disease)</a><br>
            <a href="#">Illness anxiety disorder</a><br>
            <a href="#">Immune thrombocytopenic purpura </a><br>
            <a href="#">Impacted wisdom teeth</a><br>
            <a href="#">Incomplete fracture</a><br>
            <a href="#">Incontinence, bowel </a><br>
            <a href="#">Incontinence, fecal </a><br>
            <a href="#">Indigestion</a><br>
            <a href="#">Infantile hemangioma </a><br>
            <a href="#">Infectious diseases</a><br>
            <a href="#">Inflammed gallbladder </a><br>
            <a href="#">Inflammed pancreas</a><br>
            <a href="#">Inflammed pericardium</a><br>
            <a href="#">Influenza, avian </a><br>
            <a href="#">Influenza, H1N1</a><br>
            <a href="#">Invasive lobular carcinoma</a><br>
            <a href="#">Iron deficiency anemia</a><br>
            <a href="#">Irritable bowel syndrome</a><br>
            <a href="#">Ischemic colitis</a><br>
            <a href="#">Itchy skin (pruritus)</a><br>
            <a href="#">ITP</a><br>

        </div>
        <div id="J">
            <a href="#">Jaw tumors and cysts</a><br>
            <a href="#">Jellyfish stings</a><br>
            <a href="#">Jet lag disorder</a><br>
            <a href="#">Jock itch</a><br>
            <a href="#">Joint dislocation</a><br>
            <a href="#">Jumper's knee </a><br>
            <a href="#">Juvenile fibromyalgia</a><br>
            <a href="#">Juvenile idiopathic arthritis</a><br>
            <a href="#">Juvenile rheumatoid arthritis</a><br>
            <a href="#">Juvenile schizophrenia</a><br>

        </div>
        <div id="K">
            <a href="#">Kaposi's sarcoma</a><br>
            <a href="#">Kawasaki disease</a><br>
            <a href="#">Keratitis</a><br>
            <a href="#">Keratoconjunctivitis sicca</a><br>
            <a href="#">Keratoconus</a><br>
            <a href="#">Keratosis pilaris</a><br>
            <a href="#">Keratosis, actinic </a><br>
            <a href="#">Keratosis, seborrheic </a><br>
            <a href="#">Ketoacidosis, diabetic </a><br>
            <a href="#">Kidney cysts</a><br>
            <a href="#">Kidney disease, chronic </a><br>
            <a href="#">Kidney failure, acute </a><br>
            <a href="#">Kleptomania</a><br>
            <a href="#">Knee bursitis</a><br>
            <a href="#">Knee pain</a><br>
            <a href="#">Knee, jumper's</a><br>
            <a href="#">Krabbe disease</a><br>
            <a href="#">Kyphosis</a><br>

        </div>
        <div id="L">
            <a href="#">Lactase deficiency</a><br>
            <a href="#">Lactation mastitis</a><br>
            <a href="#">Lactose intolerance</a><br>
            <a href="#">Laryngitis</a><br>
            <a href="#">Lassa fever </a><br>
            <a href="#">Lateral elbow tendinopathy </a><br>
            <a href="#">Lateral epicondylitis</a><br>
            <a href="#">LCIS </a><br>
            <a href="#">Lead poisoning</a><br>
            <a href="#">Left ventricular hypertrophy</a><br>
            <a href="#">Leg fracture </a><br>
            <a href="#">Legg-Calve-Perthes disease</a><br>
            <a href="#">Legionellosis</a><br>
            <a href="#">Legionnaires' disease</a><br>
            <a href="#">Leiomyosarcoma</a><br>
            <a href="#">Lip cancer</a><br>
            <a href="#">Liposarcoma</a><br>
            <a href="#">Listeriosis </a><br>
            <a href="#">Lithiasis, renal </a><br>
            <a href="#">Liver disease</a><br>
            <a href="#">Liver failure, acute</a><br>
            <a href="#">Lung collapse </a><br>
            <a href="#">Lymphoma, non-Hodgkin's </a><br>
            <a href="#">Lynch syndrome</a><br>

        </div>
        <div id="M">
            <a href="#">Mad cow disease</a><br>
            <a href="#">Major depressive disorder</a><br>
            <a href="#">Malaria</a><br>
            <a href="#">Male breast cancer</a><br>
            <a href="#">Male hypogonadism</a><br>
            <a href="#">Male infertility</a><br>
            <a href="#">Malignant fibrous histiocytoma </a><br>
            <a href="#">Manic-depressive illness </a><br>
            <a href="#">Meralgia paresthetica</a><br>
            <a href="#">Merkel cell carcinoma</a><br>
            <a href="#">Mesothelioma</a><br>
            <a href="#">Metabolic syndrome</a><br>
            <a href="#">Metachromatic leukodystrophy</a><br>
            <a href="#">Metastatic brain cancer</a><br>
            <a href="#">Muscle cramp</a><br>
            <a href="#">Muscle strains</a><br>
            <a href="#">Myocardial ischemia</a><br>
            <a href="#">Myopia </a><br>
            <a href="#">Myxofibrosarcoma</a><br>

        </div>
        <div id="N">
            <a href="#">Naegleria infection</a><br>
            <a href="#">Nail fungus</a><br>
            <a href="#">Narcissistic personality disorder</a><br>
            <a href="#">Narcolepsy</a><br>
            <a href="#">Nasal and paranasal tumors</a><br>
            <a href="#">Nasal polyps</a><br>
            <a href="#">Neuroblastoma</a><br>
            <a href="#">Neurodermatitis</a><br>
            <a href="#">Neuroendocrine tumors</a><br>
            <a href="#">Neurofibroma</a><br>
            <a href="#">Neuromyelitis optica</a><br>
            <a href="#">Noise-related hearing loss </a><br>
            <a href="#">Nonallergic rhinitis</a><br>
            <a href="#">Nontropical sprue</a><br>
            <a href="#">Nonulcer dyspepsia </a><br>
            <a href="#">Noonan syndrome</a><br>
            <a href="#">Norovirus infection</a><br>
            <a href="#">Nose fracture </a><br>
            <a href="#">Novel coronavirus</a><br>
            <a href="#">Nymphomania</a><br>

        </div>
        <div id="O">
            <a href="#">Obesity</a><br>
            <a href="#">Obsessive-compulsive disorder (OCD)</a><br>
            <a href="#">Occupational asthma</a><br>
            <a href="#">Ocular rosacea</a><br>
            <a href="#">OHSS </a><br>
            <a href="#">Optic neuritis</a><br>
            <a href="#">Oral lichen planus</a><br>
            <a href="#">Oral thrush</a><br>
            <a href="#">Orchitis</a><br>
            <a href="#">Osgood-Schlatter disease</a><br>
            <a href="#">Osteoarthritis</a><br>
            <a href="#">Osteochondritis dissecans</a><br>
            <a href="#">Osteomalacia</a><br>
            <a href="#">Osteomyelitis</a><br>
            <a href="#">Osteoporosis</a><br>
            <a href="#">Osteosarcoma</a><br>
            <a href="#">Ovarian cancer</a><br>
            <a href="#">Ovarian cysts</a><br>
            <a href="#">Ovarian hyperstimulation syndrome</a><br>
            <a href="#">Overactive bladder</a><br>
            <a href="#">Overactive thyroid</a><br>
            <a href="#">Oxyphil cell carcinoma</a><br>

        </div>
        <div id="P">
            <a href="#">PAD</a><br>
            <a href="#">PAES</a><br>
            <a href="#">Paget's disease of bone</a><br>
            <a href="#">Paget's disease of the breast</a><br>
            <a href="#">Pain chest</a><br>
            <a href="#">Painful bladder syndrome</a><br>
            <a href="#">Painful periods</a><br>
            <a href="#">Pancreatic cancer</a><br>
            <a href="#">Patent foramen ovale</a><br>
            <a href="#">Pathological gambling </a><br>
            <a href="#">Paraneoplastic syndromes of the nervous system</a><br>
            <a href="#">Parkinson's disease</a><br>
            <a href="#">Partial anomalous pulmonary venous return)</a><br>
            <a href="#">Parvovirus infection</a><br>
            <a href="#">Patent foramen ovale</a><br>
            <a href="#">Pediatric obstructive sleep apnea</a><br>
            <a href="#">Pelvic organ prolapse</a><br>
            <a href="#">Pemphigus</a><br>
            <a href="#">Penicillin allergy</a><br>
            <a href="#">Peptic ulcer</a><br>
            <a href="#">Pericardial effusion</a><br>
            <a href="#">Pseudomembranous colitis</a><br>
            <a href="#">Psoriatic arthritis</a><br>
            <a href="#">Pulmonary fibrosis</a><br>
            <a href="#">Pyloric stenosis</a><br>
            <a href="#">Pyoderma gangrenosum</a><br>

        </div>
        <div id="Q">
            <a href="#">Q fever</a><br>
            <a href="#">Quadriplegia</a><br>
            <a href="#">Query fever</a><br>

        </div>
        <div id="R">
            <a href="#">Rabbit fever</a><br>
            <a href="#">Rabies</a><br>
            <a href="#">Radiation enteritis</a><br>
            <a href="#">Radiation sickness</a><br>
            <a href="#">Ramsay Hunt syndrome</a><br>
            <a href="#">Rapid gastric emptying </a><br>
            <a href="#">Rapid heartbeat </a><br>
            <a href="#">Rash, poison ivy</a><br>
            <a href="#">Rectal prolapse</a><br>
            <a href="#">Recurrent breast cancer</a><br>
            <a href="#">Reflux, gastroesophageal</a><br>
            <a href="#">Regurgitation, aortic valve</a><br>
            <a href="#">Reiter's syndrome </a><br>
            <a href="#">Respiratory syncytial virus (RSV)</a><br>
            <a href="#">Restless legs syndrome</a><br>
            <a href="#">Rubella</a><br>
            <a href="#">Rumination syndrome</a><br>
            <a href="#">Ruptured eardrum (perforated eardrum)</a><br>
            <a href="#">Ruptured spleen</a><br>

        </div>
        <div id="S">
            <a href="#">Sacral dimple</a><br>
            <a href="#">Sacroiliitis</a><br>
            <a href="#">Salivary gland tumors</a><br>
            <a href="#">Salmonella infection</a><br>
            <a href="#">Sarcoidosis</a><br>
            <a href="#">Sciatica</a><br>
            <a href="#">Sclerosing mesenteritis</a><br>
            <a href="#">Sclerosis, systemic</a><br>
            <a href="#">Sebaceous carcinoma</a><br>
            <a href="#">Secondary hypertension</a><br>
            <a href="#">Seizure, febrile</a><br>
            <a href="#">Seizure, grand mal </a><br>
            <a href="#">Self-injury/cutting</a><br>
            <a href="#">Sickle cell anemia</a><br>
            <a href="#">Sleepiness, daytime </a><br>
            <a href="#">Small intestinal bacterial overgrowth (SIBO)</a><br>
            <a href="#">Solitary rectal ulcer syndrome</a><br>
            <a href="#">Spinal arteriovenous malformation (AVM)</a><br>
            <a href="#">Systemic capillary leak syndrome</a><br>
            <a href="#">Systemic sclerosis</a><br>

        </div>
        <div id="T">
            <a href="#">Tachycardia</a><br>
            <a href="#">Takotsubo cardiomyopathy</a><br>
            <a href="#">Tapeworm infection</a><br>
            <a href="#">Tay-Sachs disease</a><br>
            <a href="#">Tears, decreased production</a><br>
            <a href="#">Temporal arteritis </a><br>
            <a href="#">Temporomandibular disorders</a><br>
            <a href="#">Tension headache</a><br>
            <a href="#">Testicular cancer</a><br>
            <a href="#">Testicular torsion</a><br>
            <a href="#">Thalassemia</a><br>
            <a href="#">Thoracic aortic aneurysm</a><br>
            <a href="#">Thrombocytosis</a><br>
            <a href="#">Thrombophlebitis</a><br>
            <a href="#">Thyroiditis, chronic lymphocytic</a><br>
            <a href="#">Toe walking in children</a><br>
            <a href="#">Tooth decay</a><br>
            <a href="#">Tuberculosis</a><br>
            <a href="#">Type 1 diabetes in children</a><br>
            <a href="#">Type 2 diabetes</a><br>
            <a href="#">Type 2 diabetes in children</a><br>
            <a href="#">Typhoid fever</a><br>

        </div>
        <div id="U">
            <a href="#">Ulcer, aphthous</a><br>
            <a href="#">Ulcer, peptic </a><br>
            <a href="#">Ulcer, rectal </a><br>
            <a href="#">Ulcerative colitis</a><br>
            <a href="#">Ulnar wrist pain</a><br>
            <a href="#">Umbilical hernia</a><br>
            <a href="#">Uncontrollable laughter and crying</a><br>
            <a href="#">Underactive thyroid </a><br>
            <a href="#">Urinary incontinence</a><br>
            <a href="#">Urinary tract infection (UTI)</a><br>
            <a href="#">Urine color</a><br>
            <a href="#">Urine, blood in </a><br>
            <a href="#">Urticaria</a><br>
            <a href="#">Uterine cancer</a><br>
            <a href="#">Uterine leiomyoma</a><br>
            <a href="#">Uterus didelphys</a><br>
            <a href="#">Uveal melanoma</a><br>

        </div>
        <div id="V">
            <a href="#">Vaginal agenesis</a><br>
            <a href="#">Vaginal atrophy</a><br>
            <a href="#">Vaginal cancer</a><br>
            <a href="#">Vaginal candidiasis</a><br>
            <a href="#">Vaginal fistula</a><br>
            <a href="#">Vaginal prolapse, posterior</a><br>
            <a href="#">Vaginitis</a><br>
            <a href="#">Valley fever</a><br>
            <a href="#">Valvular heart disease</a><br>
            <a href="#">Vascular rings</a><br>
            <a href="#">Vasomotor rhinitis </a><br>
            <a href="#">Vasovagal syncope</a><br>
            <a href="#">Velocardiofacial syndrome</a><br>
            <a href="#">Venereal warts </a><br>
            <a href="#">Vestibular schwannoma</a><br>
            <a href="#">Viral gastroenteritis (stomach flu)</a><br>
            <a href="#">Vitamin deficiency anemia</a><br>
            <a href="#">Voice disorders</a><br>
            <a href="#">Von Willebrand disease</a><br>
            <a href="#">VPCs </a><br>
            <a href="#">Vulvar cancer</a><br>
            <a href="#">Vulvodynia</a><br>

        </div>
        <div id="W">
            <a href="#">Warts, common</a><br>
            <a href="#">Warts, genital </a><br>
            <a href="#">Warts, plantar </a><br>
            <a href="#">Warts, venereal </a><br>
            <a href="#">Water on the knee</a><br>
            <a href="#">Wegener's granulomatosis</a><br>
            <a href="#">Weight loss</a><br>
            <a href="#">Wermer syndrome</a><br>
            <a href="#">Wermer's syndrome</a><br>
            <a href="#">West Nile virus</a><br>
            <a href="#">Wheat allergy</a><br>
            <a href="#">Whooping cough</a><br>
            <a href="#">Wilms' tumor</a><br>
            <a href="#">Wilson's disease</a><br>
            <a href="#">Wisdom teeth, impacted</a><br>
            <a href="#">Wolff-Parkinson-White (WPW) syndrome</a><br>
            <a href="#">Wrinkles</a><br>
            <a href="#">Wrist fracture</a><br>
            <a href="#">Wrist pain</a><br>


        </div>
        <div id="X">
            <a href="#">X, Syndrome</a><br>
            <a href="#">Xerosis</a><br>
            <a href="#">Xerostomia </a><br>
            <a href="#">X-linked agammaglobulinemia</a><br>
            <a href="#">XXX syndrome</a><br>
        </div>
        <div id="Y">
            <a href="#">Yeast infection (vaginal) </a><br>
            <a href="#">Yellow fever</a><br>
            <a href="#">Yersinia pestis </a><br>
        </div>
        <div id="Z">
            <a href="#">Zika Virus</a><br>
            <a href="#">Zollinger-Ellison syndrome</a><br>
            <a href="#">Zoster</a> <br>
        </div>
    </div>

    <script>
        var string = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        function Afun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("A").style.display = "block";
        }

        function Bfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("B").style.display = "block";
        }

        function Cfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("C").style.display = "block";
        }

        function Dfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("D").style.display = "block";
        }

        function Efun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("E").style.display = "block";
        }
        function Ffun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("F").style.display = "block";
        }
        function Gfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("G").style.display = "block";
        }
        function Hfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("H").style.display = "block";
        }
        function Ifun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("I").style.display = "block";
        }
        function Jfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("J").style.display = "block";
        }
        function Kfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("K").style.display = "block";
        }
        function Lfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("L").style.display = "block";
        }
        function Mfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("M").style.display = "block";
        }
        function Nfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("N").style.display = "block";
        }
        function Ofun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("O").style.display = "block";
        }
        function Pfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("P").style.display = "block";
        }
        function Qfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("Q").style.display = "block";
        }
        function Rfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("R").style.display = "block";
        }
        function Sfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("S").style.display = "block";
        }
        function Tfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("T").style.display = "block";
        }
        function Ufun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("U").style.display = "block";
        }
        function Vfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("V").style.display = "block";
        }
        function Wfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("W").style.display = "block";
        }
        function Xfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("X").style.display = "block";
        }
        function Yfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("Y").style.display = "block";
        }
        function Zfun() {
            for (var i = 0; i < 26; i++) {
                document.getElementById(string[i]).style.display = "none";
            }
            document.getElementById("Z").style.display = "block";
        }

    </script>
</body>
<style>
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 62.5%;
        font-style: bold;

    }

    body {
        margin: 0;
        padding: 0;
        min-height: 1000px;

    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 1s;
        padding: 1rem 1rem;
        background: linear-gradient(45deg, #05f9ff, #8de7b6, #00b5ff);
        font-size: 2rem;
        font-family: "Roboto", sans-serif;
    }

    header .logo {
        position: relative;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-size: 3em;

    }

    nav ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    nav ul li {
        position: relative;
        list-style: none;
    }

    nav ul li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: white;
        letter-spacing: 2px;
        font-weight: 500px;
        transition: 0.6s;
    }

    .cool-link:hover {
        border-bottom: 0.5rem double white;

    }

    .container-4 {
        position: relative;
        top: 85px;
        height: 550rem;
        width: 100%;
        padding: 0;
        margin: 0;
        background: rgb(184, 239, 243);

    }

    .container-4 h1 {
        font-size: 50px;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .container-4 p {
        font-size: 20px;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .container-5 {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        top: 50px;
        margin: 0 auto;
        width: 75%;
        border: 5px solid red;
    }

    .btn {
        font-size: 20px;
        margin: 10px;
        padding: 10px;
        border: 1px solid red;
    }

    #A,
    #B,
    #C,
    #D,
    #E,
    #F,
    #G,
    #H,
    #I,
    #J,
    #K,
    #L,
    #M,
    #N,
    #O, #P,
    #Q,
    #R,
    #S,
    #T,
    #U,
    #V,
    #W,
    #X,
    #Y,
    #Z {
        top: 75px;
        width: 75%;
        border: 1px solid green;
        margin: 0 auto;
        position: relative;
        text-align: center;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;


    }

    #A,
    #B,
    #C,
    #D,
    #E,
    #F,
    #G,
    #H,
    #I,
    #J,
    #K,
    #L,
    #M,
    #N,
    #O, #P,
    #Q,
    #R,
    #S,
    #T,
    #U,
    #V,
    #W,
    #X,
    #Y,
    #Z {
        display: none;
    }
</style>

</html>