<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Predictor</title>
</head>
<body>
    <div class="ml-container">
        <form action="{{ url_for('predict') }}" method="POST">
            <textarea class='message-box' name="message" rows="15" cols="75" placeholder="Enter Your Message Here..."></textarea><br/>
            <input type="submit" class="my-cta-button" value="Predict">
        </form>
    </div>
    
</body>
<style>
*{
	background-color:blue;
}
</style>
</html>




