<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    <header>
        <a href="#" class="logo">Logo</a>
        <nav>
            <ul>
                <li><a href="#" class="cool-link">Home</a></li>
                <li><a href="#" class="cool-link">About</a></li>
                <li><a href="#features" class="cool-link">Features</a></li>
                <li><a href="#" class="cool-link">Team</a></li>
                <li><a href="#" class="cool-link">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-3">
        <h3>Symptom Checker</h3>
        <form class="container-4" action="{{ url_for('predict') }}" method="POST">
            <div class="input-form">
                <div class="symptom-box">
                    <h4>Symptom 1</h4>
                    <select class="form-input" name="symp1" required>
                        <option value=" abdominal_pain"></option>
                        <option value=" abnormal_menstruation">Abnormal menstruation</option>
                        <option value=" acidity">Acidity</option>
                        <option value=" acute_liver_failure">Acute Liver Failure</option>
                        <option value=" altered_sensorium">Altered Sensorium</option>
                        <option value=" anxiety">Anxiety</option>
                        <option value=" back_pain">Back Pain</option>
                        <option value=" belly_pain">Belly Pain</option>
                        <option value=" blackheads">Blackheads</option>
                        <option value=" bladder_discomfort">Bladder Discomfort</option>
                        <option value=" blister">Blister</option>
                        <option value=" blood_in_sputum">Blood in Sputum</option>
                        <option value=" bloody_stool">Bloody stool</option>
                        <option value=" blurred_and_distorted_vision">Blurred and Distorted Vision</option>
                        <option value=" breathlessness">Breathlessness</option>
                        <option value=" brittle_nails">Brittle Nails</option>
                        <option value=" bruising">Bruising</option>
                        <option value=" burning_micturition">Burning Micturition</option>
                        <option value=" chest_pain">Chest Pain</option>
                        <option value=" chills">Chills</option>
                        <option value=" cold_hands_and_feets">Cold hands and feets</option>
                        <option value=" coma">Coma</option>
                        <option value=" congestion">Congestion</option>
                        <option value=" constipation">Constipation</option>
                        <option value=" continuous_feel_of_urine">Continuous feel of urine</option>
                        <option value=" continuous_sneezing">Continuous sneezing</option>
                        <option value=" cough">Cough</option>
                        <option value=" cramps">Cramps</option>
                        <option value=" dark_urine">Dark Urine</option>
                        <option value=" dehydration">Dehydration</option>
                        <option value=" depression">Depression</option>
                        <option value=" diarrhoea">Diarrhoea</option>
                        <option value=" dischromic_patches">Dischromic Patches</option>
                        <option value=" distention_of_abdomen">Distention of abdomen</option>
                        <option value=" dizziness">Dizziness</option>
                        <option value=" drying_and_tingling_lips">Drying and tingling lips</option>
                        <option value=" enlarged_thyroid">Enlarged Thyroid</option>
                        <option value=" excessive_hunger">Excessive Hunger</option>
                        <option value=" extra_marital_contacts">Extra Marital Contacts</option>
                        <option value=" family_history">Family History</option>
                        <option value=" fast_heart_rate">Fast Heart Rate</option>
                        <option value=" fatigue">Fatigue</option>
                        <option value=" fluid_overload">Fluid Overload</option>
                        <option value=" foul_smell_of_urine">Foul Smell Of Urine</option>
                        <option value=" headache">Headache</option>
                        <option value=" high_fever">High Fever</option>
                        <option value=" hip_joint_pain">Hip Joint Pain</option>
                        <option value=" history_of_alcohol_consumption">History of Alcohol Consumption</option>
                        <option value=" increased_appetite">Increased Appetite</option>
                        <option value=" indigestion">Indigestion</option>
                        <option value=" inflammatory_nails">Inflammatory Nails</option>
                        <option value=" internal_itching">Internal Itching</option>
                        <option value=" irregular_sugar_level">Irregular Sugar Level</option>
                        <option value=" irritability">Irritability</option>
                        <option value=" irritation_in_anus">Irritation in Anus</option>
                        <option value=" itching">Itching</option>
                        <option value=" joint_pain">Joint Pain</option>
                        <option value=" knee_pain">Knee Pain</option>
                        <option value=" lack_of_concentration">Lack Of Concentration</option>
                        <option value=" lethargy">Lethargy</option>
                        <option value=" loss_of_appetite">Loss of Appetite</option>
                        <option value=" loss_of_balance">Loss Of Balance</option>
                        <option value=" loss_of_smell">Loss Of Smell</option>
                        <option value=" malaise">Malaise</option>
                        <option value=" mild_fever">Mild Fever</option>
                        <option value=" mood_swings">Mood Swings</option>
                        <option value=" movement_stiffness">Movement Stiffness</option>
                        <option value=" mucoid_sputum">Mucoid Sputum</option>
                        <option value=" muscle_pain">Muscle Pain</option>
                        <option value=" muscle_wasting">Muscle Wasting</option>
                        <option value=" muscle_weakness">Muscle Weakness</option>
                        <option value=" nausea">Nausea</option>
                        <option value=" neck_pain">Neck Pain</option>
                        <option value=" nodal_skin_eruptions">Nodal Skin Eruptions</option>
                        <option value=" obesity">Obesity</option>
                        <option value=" pain_behind_the_eyes">Pain Behind the Eyes</option>
                        <option value=" pain_during_bowel_movements">Pain during Bowel Movements</option>
                        <option value=" pain_in_anal_region">Pain in Anal Region</option>
                        <option value=" painful_walking">Painful Walking</option>
                        <option value=" palpitations">Palpitations</option>
                        <option value=" passage_of_gases">Passage Of Gases</option>
                        <option value=" patches_in_throat">Patches in Throat</option>
                        <option value=" phlegm">Phlegm</option>
                        <option value=" polyuria">Polyuria</option>
                        <option value=" prominent_veins_on_calf">Prominent Veins on Calf</option>
                        <option value=" puffy_face_and_eyes">Puffy Face And Eyes</option>
                        <option value=" pus_filled_pimples">Pus Filled Pimples</option>
                        <option value=" receiving_blood_transfusion">Receiving Blood Transfusion</option>
                        <option value=" receiving_unsterile_injections">Receiving Unsterile Injections</option>
                        <option value=" red_sore_around_nose">Red Sore around Nose</option>
                        <option value=" red_spots_over_body">Red Spots over Body</option>
                        <option value=" redness_of_eyes">Redness of Eyes</option>
                        <option value=" restlessness">Restlessness</option>
                        <option value=" runny_nose">Runny Nose</option>
                        <option value=" rusty_sputum">Rusty Sputum</option>
                        <option value=" scurring">Scurring</option>
                        <option value=" shivering">Shivering</option>
                        <option value=" silver_like_dusting">Silver like Dusting</option>
                        <option value=" sinus_pressure">Sinus Pressure</option>
                        <option value=" skin_peeling">Skin Peeling</option>
                        <option value=" skin_rash">Skin Rash</option>
                        <option value=" slurred_speech">Slurred Speech</option>
                        <option value=" small_dents_in_nails">Small Dents in Nails</option>
                        <option value=" spinning_movements">Spinning Movements</option>
                        <option value=" spotting_urination">Spotting Urination</option>
                        <option value=" stiff_neck">Stiff Neck</option>
                        <option value=" stomach_bleeding">Stomach Bleeding</option>
                        <option value=" stomach_pain">Stomach Pain</option>
                        <option value=" sunken_eyes">Sunken Eyes</option>
                        <option value=" sweating">Sweating</option>
                        <option value=" swelled_lymph_nodes">Swelled lymph nodes</option>
                        <option value=" swelling_joints">Swelling Joints</option>
                        <option value=" swelling_of_stomach">Swelling of Stomach</option>
                        <option value=" swollen_blood_vessels">Swollen Blood Vessels</option>
                        <option value=" swollen_extremeties">Swollen Extremeties</option>
                        <option value=" swollen_legs">Swollen Legs</option>
                        <option value=" throat_irritation">Throat Irritation</option>
                        <option value=" toxic_look_(typhos)">Toxic Look(Typhos)</option>
                        <option value=" ulcers_on_tongue">Ulcers on Tongue</option>
                        <option value=" unsteadiness">Unsteadiness</option>
                        <option value=" visual_disturbances">Visual Disturbances</option>
                        <option value=" vomiting">Vomiting</option>
                        <option value=" watering_from_eyes">Watering from Eyes</option>
                        <option value=" weakness_in_limbs">Weakness in Limbs</option>
                        <option value=" weakness_of_one_body_side">Weakness of one Body Side</option>
                        <option value=" weight_gain">Weight gain</option>
                        <option value=" weight_loss">Weight Loss</option>
                        <option value=" yellow_crust_ooze">Yellow crust Ooze</option>
                        <option value=" yellow_urine">Yellow Urine</option>
                        <option value=" yellowing_of_eyes">Yellowing of eyes</option>
                        <option value=" yellowish_skin">Yellowish skin</option>

                    </select><br>

                </div>
                <div class="symptom-box">
                    <h4>Symptom 2</h4>
                    <select class="form-input" name="symp2" required>
                        <option value=" abdominal_pain"></option>
                        <option value=" abnormal_menstruation">Abnormal menstruation</option>
                        <option value=" acidity">Acidity</option>
                        <option value=" acute_liver_failure">Acute Liver Failure</option>
                        <option value=" altered_sensorium">Altered Sensorium</option>
                        <option value=" anxiety">Anxiety</option>
                        <option value=" back_pain">Back Pain</option>
                        <option value=" belly_pain">Belly Pain</option>
                        <option value=" blackheads">Blackheads</option>
                        <option value=" bladder_discomfort">Bladder Discomfort</option>
                        <option value=" blister">Blister</option>
                        <option value=" blood_in_sputum">Blood in Sputum</option>
                        <option value=" bloody_stool">Bloody stool</option>
                        <option value=" blurred_and_distorted_vision">Blurred and Distorted Vision</option>
                        <option value=" breathlessness">Breathlessness</option>
                        <option value=" brittle_nails">Brittle Nails</option>
                        <option value=" bruising">Bruising</option>
                        <option value=" burning_micturition">Burning Micturition</option>
                        <option value=" chest_pain">Chest Pain</option>
                        <option value=" chills">Chills</option>
                        <option value=" cold_hands_and_feets">Cold hands and feets</option>
                        <option value=" coma">Coma</option>
                        <option value=" congestion">Congestion</option>
                        <option value=" constipation">Constipation</option>
                        <option value=" continuous_feel_of_urine">Continuous feel of urine</option>
                        <option value=" continuous_sneezing">Continuous sneezing</option>
                        <option value=" cough">Cough</option>
                        <option value=" cramps">Cramps</option>
                        <option value=" dark_urine">Dark Urine</option>
                        <option value=" dehydration">Dehydration</option>
                        <option value=" depression">Depression</option>
                        <option value=" diarrhoea">Diarrhoea</option>
                        <option value=" dischromic_patches">Dischromic Patches</option>
                        <option value=" distention_of_abdomen">Distention of abdomen</option>
                        <option value=" dizziness">Dizziness</option>
                        <option value=" drying_and_tingling_lips">Drying and tingling lips</option>
                        <option value=" enlarged_thyroid">Enlarged Thyroid</option>
                        <option value=" excessive_hunger">Excessive Hunger</option>
                        <option value=" extra_marital_contacts">Extra Marital Contacts</option>
                        <option value=" family_history">Family History</option>
                        <option value=" fast_heart_rate">Fast Heart Rate</option>
                        <option value=" fatigue">Fatigue</option>
                        <option value=" fluid_overload">Fluid Overload</option>
                        <option value=" foul_smell_of_urine">Foul Smell Of Urine</option>
                        <option value=" headache">Headache</option>
                        <option value=" high_fever">High Fever</option>
                        <option value=" hip_joint_pain">Hip Joint Pain</option>
                        <option value=" history_of_alcohol_consumption">History of Alcohol Consumption</option>
                        <option value=" increased_appetite">Increased Appetite</option>
                        <option value=" indigestion">Indigestion</option>
                        <option value=" inflammatory_nails">Inflammatory Nails</option>
                        <option value=" internal_itching">Internal Itching</option>
                        <option value=" irregular_sugar_level">Irregular Sugar Level</option>
                        <option value=" irritability">Irritability</option>
                        <option value=" irritation_in_anus">Irritation in Anus</option>
                        <option value=" itching">Itching</option>
                        <option value=" joint_pain">Joint Pain</option>
                        <option value=" knee_pain">Knee Pain</option>
                        <option value=" lack_of_concentration">Lack Of Concentration</option>
                        <option value=" lethargy">Lethargy</option>
                        <option value=" loss_of_appetite">Loss of Appetite</option>
                        <option value=" loss_of_balance">Loss Of Balance</option>
                        <option value=" loss_of_smell">Loss Of Smell</option>
                        <option value=" malaise">Malaise</option>
                        <option value=" mild_fever">Mild Fever</option>
                        <option value=" mood_swings">Mood Swings</option>
                        <option value=" movement_stiffness">Movement Stiffness</option>
                        <option value=" mucoid_sputum">Mucoid Sputum</option>
                        <option value=" muscle_pain">Muscle Pain</option>
                        <option value=" muscle_wasting">Muscle Wasting</option>
                        <option value=" muscle_weakness">Muscle Weakness</option>
                        <option value=" nausea">Nausea</option>
                        <option value=" neck_pain">Neck Pain</option>
                        <option value=" nodal_skin_eruptions">Nodal Skin Eruptions</option>
                        <option value=" obesity">Obesity</option>
                        <option value=" pain_behind_the_eyes">Pain Behind the Eyes</option>
                        <option value=" pain_during_bowel_movements">Pain during Bowel Movements</option>
                        <option value=" pain_in_anal_region">Pain in Anal Region</option>
                        <option value=" painful_walking">Painful Walking</option>
                        <option value=" palpitations">Palpitations</option>
                        <option value=" passage_of_gases">Passage Of Gases</option>
                        <option value=" patches_in_throat">Patches in Throat</option>
                        <option value=" phlegm">Phlegm</option>
                        <option value=" polyuria">Polyuria</option>
                        <option value=" prominent_veins_on_calf">Prominent Veins on Calf</option>
                        <option value=" puffy_face_and_eyes">Puffy Face And Eyes</option>
                        <option value=" pus_filled_pimples">Pus Filled Pimples</option>
                        <option value=" receiving_blood_transfusion">Receiving Blood Transfusion</option>
                        <option value=" receiving_unsterile_injections">Receiving Unsterile Injections</option>
                        <option value=" red_sore_around_nose">Red Sore around Nose</option>
                        <option value=" red_spots_over_body">Red Spots over Body</option>
                        <option value=" redness_of_eyes">Redness of Eyes</option>
                        <option value=" restlessness">Restlessness</option>
                        <option value=" runny_nose">Runny Nose</option>
                        <option value=" rusty_sputum">Rusty Sputum</option>
                        <option value=" scurring">Scurring</option>
                        <option value=" shivering">Shivering</option>
                        <option value=" silver_like_dusting">Silver like Dusting</option>
                        <option value=" sinus_pressure">Sinus Pressure</option>
                        <option value=" skin_peeling">Skin Peeling</option>
                        <option value=" skin_rash">Skin Rash</option>
                        <option value=" slurred_speech">Slurred Speech</option>
                        <option value=" small_dents_in_nails">Small Dents in Nails</option>
                        <option value=" spinning_movements">Spinning Movements</option>
                        <option value=" spotting_urination">Spotting Urination</option>
                        <option value=" stiff_neck">Stiff Neck</option>
                        <option value=" stomach_bleeding">Stomach Bleeding</option>
                        <option value=" stomach_pain">Stomach Pain</option>
                        <option value=" sunken_eyes">Sunken Eyes</option>
                        <option value=" sweating">Sweating</option>
                        <option value=" swelled_lymph_nodes">Swelled lymph nodes</option>
                        <option value=" swelling_joints">Swelling Joints</option>
                        <option value=" swelling_of_stomach">Swelling of Stomach</option>
                        <option value=" swollen_blood_vessels">Swollen Blood Vessels</option>
                        <option value=" swollen_extremeties">Swollen Extremeties</option>
                        <option value=" swollen_legs">Swollen Legs</option>
                        <option value=" throat_irritation">Throat Irritation</option>
                        <option value=" toxic_look_(typhos)">Toxic Look(Typhos)</option>
                        <option value=" ulcers_on_tongue">Ulcers on Tongue</option>
                        <option value=" unsteadiness">Unsteadiness</option>
                        <option value=" visual_disturbances">Visual Disturbances</option>
                        <option value=" vomiting">Vomiting</option>
                        <option value=" watering_from_eyes">Watering from Eyes</option>
                        <option value=" weakness_in_limbs">Weakness in Limbs</option>
                        <option value=" weakness_of_one_body_side">Weakness of one Body Side</option>
                        <option value=" weight_gain">Weight gain</option>
                        <option value=" weight_loss">Weight Loss</option>
                        <option value=" yellow_crust_ooze">Yellow crust Ooze</option>
                        <option value=" yellow_urine">Yellow Urine</option>
                        <option value=" yellowing_of_eyes">Yellowing of eyes</option>
                        <option value=" yellowish_skin">Yellowish skin</option>

                    </select>
                </div>
                <div class="symptom-box">
                    <h4>Symptom 3</h4>
                    <select class="form-input" name="symp3" required>
                        <option value=" abdominal_pain"></option>
                        <option value=" abnormal_menstruation">Abnormal menstruation</option>
                        <option value=" acidity">Acidity</option>
                        <option value=" acute_liver_failure">Acute Liver Failure</option>
                        <option value=" altered_sensorium">Altered Sensorium</option>
                        <option value=" anxiety">Anxiety</option>
                        <option value=" back_pain">Back Pain</option>
                        <option value=" belly_pain">Belly Pain</option>
                        <option value=" blackheads">Blackheads</option>
                        <option value=" bladder_discomfort">Bladder Discomfort</option>
                        <option value=" blister">Blister</option>
                        <option value=" blood_in_sputum">Blood in Sputum</option>
                        <option value=" bloody_stool">Bloody stool</option>
                        <option value=" blurred_and_distorted_vision">Blurred and Distorted Vision</option>
                        <option value=" breathlessness">Breathlessness</option>
                        <option value=" brittle_nails">Brittle Nails</option>
                        <option value=" bruising">Bruising</option>
                        <option value=" burning_micturition">Burning Micturition</option>
                        <option value=" chest_pain">Chest Pain</option>
                        <option value=" chills">Chills</option>
                        <option value=" cold_hands_and_feets">Cold hands and feets</option>
                        <option value=" coma">Coma</option>
                        <option value=" congestion">Congestion</option>
                        <option value=" constipation">Constipation</option>
                        <option value=" continuous_feel_of_urine">Continuous feel of urine</option>
                        <option value=" continuous_sneezing">Continuous sneezing</option>
                        <option value=" cough">Cough</option>
                        <option value=" cramps">Cramps</option>
                        <option value=" dark_urine">Dark Urine</option>
                        <option value=" dehydration">Dehydration</option>
                        <option value=" depression">Depression</option>
                        <option value=" diarrhoea">Diarrhoea</option>
                        <option value=" dischromic_patches">Dischromic Patches</option>
                        <option value=" distention_of_abdomen">Distention of abdomen</option>
                        <option value=" dizziness">Dizziness</option>
                        <option value=" drying_and_tingling_lips">Drying and tingling lips</option>
                        <option value=" enlarged_thyroid">Enlarged Thyroid</option>
                        <option value=" excessive_hunger">Excessive Hunger</option>
                        <option value=" extra_marital_contacts">Extra Marital Contacts</option>
                        <option value=" family_history">Family History</option>
                        <option value=" fast_heart_rate">Fast Heart Rate</option>
                        <option value=" fatigue">Fatigue</option>
                        <option value=" fluid_overload">Fluid Overload</option>
                        <option value=" foul_smell_of_urine">Foul Smell Of Urine</option>
                        <option value=" headache">Headache</option>
                        <option value=" high_fever">High Fever</option>
                        <option value=" hip_joint_pain">Hip Joint Pain</option>
                        <option value=" history_of_alcohol_consumption">History of Alcohol Consumption</option>
                        <option value=" increased_appetite">Increased Appetite</option>
                        <option value=" indigestion">Indigestion</option>
                        <option value=" inflammatory_nails">Inflammatory Nails</option>
                        <option value=" internal_itching">Internal Itching</option>
                        <option value=" irregular_sugar_level">Irregular Sugar Level</option>
                        <option value=" irritability">Irritability</option>
                        <option value=" irritation_in_anus">Irritation in Anus</option>
                        <option value=" itching">Itching</option>
                        <option value=" joint_pain">Joint Pain</option>
                        <option value=" knee_pain">Knee Pain</option>
                        <option value=" lack_of_concentration">Lack Of Concentration</option>
                        <option value=" lethargy">Lethargy</option>
                        <option value=" loss_of_appetite">Loss of Appetite</option>
                        <option value=" loss_of_balance">Loss Of Balance</option>
                        <option value=" loss_of_smell">Loss Of Smell</option>
                        <option value=" malaise">Malaise</option>
                        <option value=" mild_fever">Mild Fever</option>
                        <option value=" mood_swings">Mood Swings</option>
                        <option value=" movement_stiffness">Movement Stiffness</option>
                        <option value=" mucoid_sputum">Mucoid Sputum</option>
                        <option value=" muscle_pain">Muscle Pain</option>
                        <option value=" muscle_wasting">Muscle Wasting</option>
                        <option value=" muscle_weakness">Muscle Weakness</option>
                        <option value=" nausea">Nausea</option>
                        <option value=" neck_pain">Neck Pain</option>
                        <option value=" nodal_skin_eruptions">Nodal Skin Eruptions</option>
                        <option value=" obesity">Obesity</option>
                        <option value=" pain_behind_the_eyes">Pain Behind the Eyes</option>
                        <option value=" pain_during_bowel_movements">Pain during Bowel Movements</option>
                        <option value=" pain_in_anal_region">Pain in Anal Region</option>
                        <option value=" painful_walking">Painful Walking</option>
                        <option value=" palpitations">Palpitations</option>
                        <option value=" passage_of_gases">Passage Of Gases</option>
                        <option value=" patches_in_throat">Patches in Throat</option>
                        <option value=" phlegm">Phlegm</option>
                        <option value=" polyuria">Polyuria</option>
                        <option value=" prominent_veins_on_calf">Prominent Veins on Calf</option>
                        <option value=" puffy_face_and_eyes">Puffy Face And Eyes</option>
                        <option value=" pus_filled_pimples">Pus Filled Pimples</option>
                        <option value=" receiving_blood_transfusion">Receiving Blood Transfusion</option>
                        <option value=" receiving_unsterile_injections">Receiving Unsterile Injections</option>
                        <option value=" red_sore_around_nose">Red Sore around Nose</option>
                        <option value=" red_spots_over_body">Red Spots over Body</option>
                        <option value=" redness_of_eyes">Redness of Eyes</option>
                        <option value=" restlessness">Restlessness</option>
                        <option value=" runny_nose">Runny Nose</option>
                        <option value=" rusty_sputum">Rusty Sputum</option>
                        <option value=" scurring">Scurring</option>
                        <option value=" shivering">Shivering</option>
                        <option value=" silver_like_dusting">Silver like Dusting</option>
                        <option value=" sinus_pressure">Sinus Pressure</option>
                        <option value=" skin_peeling">Skin Peeling</option>
                        <option value=" skin_rash">Skin Rash</option>
                        <option value=" slurred_speech">Slurred Speech</option>
                        <option value=" small_dents_in_nails">Small Dents in Nails</option>
                        <option value=" spinning_movements">Spinning Movements</option>
                        <option value=" spotting_urination">Spotting Urination</option>
                        <option value=" stiff_neck">Stiff Neck</option>
                        <option value=" stomach_bleeding">Stomach Bleeding</option>
                        <option value=" stomach_pain">Stomach Pain</option>
                        <option value=" sunken_eyes">Sunken Eyes</option>
                        <option value=" sweating">Sweating</option>
                        <option value=" swelled_lymph_nodes">Swelled lymph nodes</option>
                        <option value=" swelling_joints">Swelling Joints</option>
                        <option value=" swelling_of_stomach">Swelling of Stomach</option>
                        <option value=" swollen_blood_vessels">Swollen Blood Vessels</option>
                        <option value=" swollen_extremeties">Swollen Extremeties</option>
                        <option value=" swollen_legs">Swollen Legs</option>
                        <option value=" throat_irritation">Throat Irritation</option>
                        <option value=" toxic_look_(typhos)">Toxic Look(Typhos)</option>
                        <option value=" ulcers_on_tongue">Ulcers on Tongue</option>
                        <option value=" unsteadiness">Unsteadiness</option>
                        <option value=" visual_disturbances">Visual Disturbances</option>
                        <option value=" vomiting">Vomiting</option>
                        <option value=" watering_from_eyes">Watering from Eyes</option>
                        <option value=" weakness_in_limbs">Weakness in Limbs</option>
                        <option value=" weakness_of_one_body_side">Weakness of one Body Side</option>
                        <option value=" weight_gain">Weight gain</option>
                        <option value=" weight_loss">Weight Loss</option>
                        <option value=" yellow_crust_ooze">Yellow crust Ooze</option>
                        <option value=" yellow_urine">Yellow Urine</option>
                        <option value=" yellowing_of_eyes">Yellowing of eyes</option>
                        <option value=" yellowish_skin">Yellowish skin</option>

                    </select>
                </div>
                <div class="symptom-box">
                    <h4>Symptom 4</h4>
                    <select class="form-input" name="symp4" required>
                        <option value=" abdominal_pain"></option>
                        <option value=" abnormal_menstruation">Abnormal menstruation</option>
                        <option value=" acidity">Acidity</option>
                        <option value=" acute_liver_failure">Acute Liver Failure</option>
                        <option value=" altered_sensorium">Altered Sensorium</option>
                        <option value=" anxiety">Anxiety</option>
                        <option value=" back_pain">Back Pain</option>
                        <option value=" belly_pain">Belly Pain</option>
                        <option value=" blackheads">Blackheads</option>
                        <option value=" bladder_discomfort">Bladder Discomfort</option>
                        <option value=" blister">Blister</option>
                        <option value=" blood_in_sputum">Blood in Sputum</option>
                        <option value=" bloody_stool">Bloody stool</option>
                        <option value=" blurred_and_distorted_vision">Blurred and Distorted Vision</option>
                        <option value=" breathlessness">Breathlessness</option>
                        <option value=" brittle_nails">Brittle Nails</option>
                        <option value=" bruising">Bruising</option>
                        <option value=" burning_micturition">Burning Micturition</option>
                        <option value=" chest_pain">Chest Pain</option>
                        <option value=" chills">Chills</option>
                        <option value=" cold_hands_and_feets">Cold hands and feets</option>
                        <option value=" coma">Coma</option>
                        <option value=" congestion">Congestion</option>
                        <option value=" constipation">Constipation</option>
                        <option value=" continuous_feel_of_urine">Continuous feel of urine</option>
                        <option value=" continuous_sneezing">Continuous sneezing</option>
                        <option value=" cough">Cough</option>
                        <option value=" cramps">Cramps</option>
                        <option value=" dark_urine">Dark Urine</option>
                        <option value=" dehydration">Dehydration</option>
                        <option value=" depression">Depression</option>
                        <option value=" diarrhoea">Diarrhoea</option>
                        <option value=" dischromic_patches">Dischromic Patches</option>
                        <option value=" distention_of_abdomen">Distention of abdomen</option>
                        <option value=" dizziness">Dizziness</option>
                        <option value=" drying_and_tingling_lips">Drying and tingling lips</option>
                        <option value=" enlarged_thyroid">Enlarged Thyroid</option>
                        <option value=" excessive_hunger">Excessive Hunger</option>
                        <option value=" extra_marital_contacts">Extra Marital Contacts</option>
                        <option value=" family_history">Family History</option>
                        <option value=" fast_heart_rate">Fast Heart Rate</option>
                        <option value=" fatigue">Fatigue</option>
                        <option value=" fluid_overload">Fluid Overload</option>
                        <option value=" foul_smell_of_urine">Foul Smell Of Urine</option>
                        <option value=" headache">Headache</option>
                        <option value=" high_fever">High Fever</option>
                        <option value=" hip_joint_pain">Hip Joint Pain</option>
                        <option value=" history_of_alcohol_consumption">History of Alcohol Consumption</option>
                        <option value=" increased_appetite">Increased Appetite</option>
                        <option value=" indigestion">Indigestion</option>
                        <option value=" inflammatory_nails">Inflammatory Nails</option>
                        <option value=" internal_itching">Internal Itching</option>
                        <option value=" irregular_sugar_level">Irregular Sugar Level</option>
                        <option value=" irritability">Irritability</option>
                        <option value=" irritation_in_anus">Irritation in Anus</option>
                        <option value=" itching">Itching</option>
                        <option value=" joint_pain">Joint Pain</option>
                        <option value=" knee_pain">Knee Pain</option>
                        <option value=" lack_of_concentration">Lack Of Concentration</option>
                        <option value=" lethargy">Lethargy</option>
                        <option value=" loss_of_appetite">Loss of Appetite</option>
                        <option value=" loss_of_balance">Loss Of Balance</option>
                        <option value=" loss_of_smell">Loss Of Smell</option>
                        <option value=" malaise">Malaise</option>
                        <option value=" mild_fever">Mild Fever</option>
                        <option value=" mood_swings">Mood Swings</option>
                        <option value=" movement_stiffness">Movement Stiffness</option>
                        <option value=" mucoid_sputum">Mucoid Sputum</option>
                        <option value=" muscle_pain">Muscle Pain</option>
                        <option value=" muscle_wasting">Muscle Wasting</option>
                        <option value=" muscle_weakness">Muscle Weakness</option>
                        <option value=" nausea">Nausea</option>
                        <option value=" neck_pain">Neck Pain</option>
                        <option value=" nodal_skin_eruptions">Nodal Skin Eruptions</option>
                        <option value=" obesity">Obesity</option>
                        <option value=" pain_behind_the_eyes">Pain Behind the Eyes</option>
                        <option value=" pain_during_bowel_movements">Pain during Bowel Movements</option>
                        <option value=" pain_in_anal_region">Pain in Anal Region</option>
                        <option value=" painful_walking">Painful Walking</option>
                        <option value=" palpitations">Palpitations</option>
                        <option value=" passage_of_gases">Passage Of Gases</option>
                        <option value=" patches_in_throat">Patches in Throat</option>
                        <option value=" phlegm">Phlegm</option>
                        <option value=" polyuria">Polyuria</option>
                        <option value=" prominent_veins_on_calf">Prominent Veins on Calf</option>
                        <option value=" puffy_face_and_eyes">Puffy Face And Eyes</option>
                        <option value=" pus_filled_pimples">Pus Filled Pimples</option>
                        <option value=" receiving_blood_transfusion">Receiving Blood Transfusion</option>
                        <option value=" receiving_unsterile_injections">Receiving Unsterile Injections</option>
                        <option value=" red_sore_around_nose">Red Sore around Nose</option>
                        <option value=" red_spots_over_body">Red Spots over Body</option>
                        <option value=" redness_of_eyes">Redness of Eyes</option>
                        <option value=" restlessness">Restlessness</option>
                        <option value=" runny_nose">Runny Nose</option>
                        <option value=" rusty_sputum">Rusty Sputum</option>
                        <option value=" scurring">Scurring</option>
                        <option value=" shivering">Shivering</option>
                        <option value=" silver_like_dusting">Silver like Dusting</option>
                        <option value=" sinus_pressure">Sinus Pressure</option>
                        <option value=" skin_peeling">Skin Peeling</option>
                        <option value=" skin_rash">Skin Rash</option>
                        <option value=" slurred_speech">Slurred Speech</option>
                        <option value=" small_dents_in_nails">Small Dents in Nails</option>
                        <option value=" spinning_movements">Spinning Movements</option>
                        <option value=" spotting_urination">Spotting Urination</option>
                        <option value=" stiff_neck">Stiff Neck</option>
                        <option value=" stomach_bleeding">Stomach Bleeding</option>
                        <option value=" stomach_pain">Stomach Pain</option>
                        <option value=" sunken_eyes">Sunken Eyes</option>
                        <option value=" sweating">Sweating</option>
                        <option value=" swelled_lymph_nodes">Swelled lymph nodes</option>
                        <option value=" swelling_joints">Swelling Joints</option>
                        <option value=" swelling_of_stomach">Swelling of Stomach</option>
                        <option value=" swollen_blood_vessels">Swollen Blood Vessels</option>
                        <option value=" swollen_extremeties">Swollen Extremeties</option>
                        <option value=" swollen_legs">Swollen Legs</option>
                        <option value=" throat_irritation">Throat Irritation</option>
                        <option value=" toxic_look_(typhos)">Toxic Look(Typhos)</option>
                        <option value=" ulcers_on_tongue">Ulcers on Tongue</option>
                        <option value=" unsteadiness">Unsteadiness</option>
                        <option value=" visual_disturbances">Visual Disturbances</option>
                        <option value=" vomiting">Vomiting</option>
                        <option value=" watering_from_eyes">Watering from Eyes</option>
                        <option value=" weakness_in_limbs">Weakness in Limbs</option>
                        <option value=" weakness_of_one_body_side">Weakness of one Body Side</option>
                        <option value=" weight_gain">Weight gain</option>
                        <option value=" weight_loss">Weight Loss</option>
                        <option value=" yellow_crust_ooze">Yellow crust Ooze</option>
                        <option value=" yellow_urine">Yellow Urine</option>
                        <option value=" yellowing_of_eyes">Yellowing of eyes</option>
                        <option value=" yellowish_skin">Yellowish skin</option>

                    </select>

                </div>


            </div>
            <input type="submit" class="myButton" value="Predict disease">
        </form>
       
    </div>

</body>
<style>
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 62.5%;
        font-style: bold;

    }

    body {
        margin: 0;
        padding: 0;
        min-height: 100rem;

    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 1s;
        padding: 1rem 1rem;
        background: linear-gradient(45deg, #05f9ff, #8de7b6, #00b5ff);
        font-size: 2rem;
        font-family: "Roboto", sans-serif;
    }

    header.sticky {
        padding: 1rem 1rem;


    }

    header .logo {
        position: relative;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-size: 3em;

    }

    nav ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    nav ul li {
        position: relative;
        list-style: none;
    }

    nav ul li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: white;
        letter-spacing: 2px;
        font-weight: 500px;
        transition: 0.6s;
    }

    .cool-link:hover {
        border-bottom: 0.5rem double white;

    }

    header.sticky logo,
    header.sticky ul li a {
        color: #000;
    }

    .container-3 {
        position: relative;
        top: 109px;
        width: 100%;
        background-color: rgb(184, 239, 243);

    }

    .container-4 {
        position: relative;
        width: 100%;
        height: 50rem;
    }



    .input-form {
        height: 50rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    .symptom-box {
        padding: 5rem;
        margin: 2rem;
        width: 100%;
        text-align: center;
    }

    .symptom-box h4 {
        font-size: 2rem;
    }

    .form-input {
        width: 100%;
        height: 3rem;
    }

    select option {
        font-size: 1.5rem;
    }


    input {
        width: 250px;
        height: 30px;
        padding: 3px;
        border: 1px solid #DDE1E4;
        font-size: 1.5rem;
    }

    .myButton {

        background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D 51%, #00C9FF 100%);
        margin: 10px;
        padding: 3px 4px;
        position: relative;
        left: 45%;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: black;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        align-items : center;
    }


    .myButton:hover {
        background-position: right center;
        /* change the direction of the change here */
        color:black;
        text-decoration: none;
    }

    h3 {
        text-align: center;
    }

    .container-3 h3 {
        font-size: 50px;
        text-align: center;

    }


    /* to hide datalist arrow in webkit */

    input::-webkit-calendar-picker-indicator {
        display: none;
    }

    .footer {
        width: 100%;
        height: 50px;
        background-color: green;
    }
</style>

</html>